@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    background-color: #fafbff;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    font-weight: bold;
}

form {
    padding: 10px 0 40px 0;
}

input[type="number"] {
    border-color: lightgray;
    border-radius: 5px 0 0 5px;
    font-size: large;
    font-weight: bold;
    height: 40px;
    padding-left: 20px;
    padding-right: 40px;
    width: 78%;
}

input[type="submit"] {
    background: #2ACCAC;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: white;
    font-weight: bold;
    height: 46px;
    margin-left: -75px;
    padding-top: 3px;
    width: 25%;
}

.container {
    margin: auto;
    width: 400px;
}

.container-inner {
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 3px 3px 0 lightgrey;
}

.content {
    margin: 30px;
}

.progress-bar-bg {
    background-color: #b6f2e4;
    border-radius: 5px 5px 0 0;
    height: 15px;
}

.progress-bar {
    background-color: #2ACCAC;
    border-radius: 5px 5px 0 0;
    color: #000;
    height: 15px;
}

.error {
    color: red;
    font-weight: bold;
}

.speech-bubble {
    background: #e3ebfc;
    border-radius: 5px;
    color: #5884ea;
    margin: 0;
    margin-bottom: 30px;
    padding: 1px 18px;
    position: relative;
}
.speech-bubble::before {
    border: 12.5px solid transparent;
    border-bottom: 0;
    border-top: 12.5px solid #e3ebfc;
    border-top-width: 18px;
    bottom: -18px;
    content: '';
    display: block;
    height: 0;
    left: 20rem;
    position: absolute;
    transform-origin: center;
    width: 0;
    -webkit-transform-origin: center;
}

